nvim/lua-language-server/
nvim/lua
cava/
chromium/
dconf/
discord/
htop/
nvim/plugged/
nvim/undodir/
pulse
rofi/config.rasi
tree-sitter/
QtProject.conf
qBittorrent/
tuir/
mimeapps.list
user-dirs.dirs
user-dirs.locale
anime-downloader/
Thunar/
xfce4/
